:root {
    --grey: #6D6E70;
    --salmon: #DD6A65;
    --lightBlue: #9ECFC7;
    --blue: #72BEC3;
    --green: #67AF88;
    --pink: #D473A6;
    --lightPink: #E0AACA;
    --lighLightPink: #EBB6B4;
    --toastedYellow: #EFBE2E;
    --lightOrange: #EFB057;

    --headerHmin: 17vh;
    --marginH: 2vw;

    --headerHminMobile: 13vh;
    --marginHMobile: 6vw;
}




/*backgrounds*/
#backgroundNiveis {
    background-color: var(--lightBlue);
}

#projectBackground {
    background-color: var(--green);
}

#explorarBackground {
    background-color: var(--blue);
}

#escolasBackground {
    background-color: var(--lighLightPink);
}





/*general*/
@font-face {
    font-family: AuthenticSans130;
    src: url(data/font/AUTHENTIC\ Sans\ ^.otf);
    font-weight: bold;
}

body {
    margin: 0;
    font-family: AuthenticSans130;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    display: flex;
    justify-content: space-between;
    margin: var(--marginH);
    margin-bottom: 0;
    mix-blend-mode: multiply;
    height: min(var(--headerHmin), 500px);
}

.menu {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    color: var(--grey);
    mix-blend-mode: multiply;
}

.menu li {
    list-style-type: none;
    font-family: AuthenticSans130;
    font-size: calc(17pt + 0.5vw);
    cursor: pointer;
    height: fit-content;
    margin: 0 var(--marginH);
}

.menu a {
    color: var(--grey);
    text-decoration: none;
}

.menuSelect {
    text-decoration: underline;
}

.menuDiv {
    width: 100vw;
    min-height: calc(var(--vh, 1h) * 100);
    position: fixed;
    top: calc(var(--vh, 1h) * -100);
    background-color: var(--lightOrange);
    z-index: 4;
    transition: top 1s;
}

#menuMobile {
    display: none;
}

.active {
    transition: top 1s;
    top: 0 !important;
}

main {
    padding: var(--marginH);
}

.menuItems {
    list-style-type: none;
    color: var(--grey);
    mix-blend-mode: multiply;
    font-size: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - min(var(--headerHmin), 500px) - var(--marginH) * 2);
    width: calc(100vw - var(--marginH)*2);
    margin: 0 var(--marginH);
}

.menuItems li {
    margin-bottom: calc(var(--marginH) / 2);
}

.menuItems li:hover {
    text-decoration: underline;
}

.menuItems a {
    color: var(--grey);
    text-decoration: none;
}

footer {
    margin: var(--marginH);
    width: calc(100vw - var(--marginH) * 2);
}

.support {
    margin-bottom: 4vh;
}

.support span {
    font-family: AuthenticSans130;
    font-size: 23px;
    color: var(--grey);
    mix-blend-mode: multiply;
}

.footerImg {
    display: flex;
    flex-wrap: wrap;

}

.footerImg img {
    height: 3vh;
    min-height: 30px;
    margin-right: 2vw;
    margin-top: 1vh;
}

.footerDiv {
    display: flex;
}

#projectBackground .support {
    background-color: var(--green);
}

#explorarBackground .support {
    background-color: var(--blue);
}

#escolasBackground .support {
    background-color: var(--lighLightPink);
}

.overflow-hidden {
    overflow: hidden;
}





/** Index **/
.logoHeader {
    mix-blend-mode: multiply;
}


.logoHeaderIndex img {
    width: auto;
    height: 100%;
    cursor: pointer;
}

.logoHeaderIndex {
    height: 100%;
}

.mainLanding {
    height: calc(100vh - min(var(--headerHmin), 500px) - var(--marginH) * 4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--marginH);
    position: relative;
}

.indexImage {
    height: 100%;
}

.indexImage .indexIllustration {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.buttonIndex {
    position: absolute;
    bottom: 0;
    right: 0;
    filter: drop-shadow(0px 0px 0px #4444);
    margin: 0;
    z-index: 1;
    max-width: 25vw;
    max-height: 25vw;
    width: 12vw;
}

.buttonIndex:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.15));
}

.landingIntro {
    margin-top: 15vh;
    margin-bottom: 20vh;
    width: 50%;
    font-family: AuthenticSans130;
    font-size: calc(20px + 1.1vw);
    color: var(--grey);
}

.landingIntro span {
    mix-blend-mode: multiply;

}

.iconsIntro {
    justify-content: center;
    margin-bottom: 10vh;
}

.iconsIntroTitle {
    margin-bottom: 5vh;
}

.iconsIntroTitle span {
    display: flex;
    justify-content: center;
    font-family: AuthenticSans130;
    font-size: calc(35px + 1vw);
    line-height: calc(35px + 1vw);
    color: var(--grey);
    mix-blend-mode: multiply;
}

.illustrationsIndex {
    display: flex;
    justify-content: space-around
}

.illustrationsIndex img {
    height: 20vw;
    margin-bottom: 5vh;
}

.illustrationsIndex div {
    display: grid;
    justify-items: center;
}

.illustrationsIndex span {
    font-size: calc(16px + 0.5vw);
    color: var(--grey);
    mix-blend-mode: multiply;
}





/** Level Menu **/
#levelMain {
    width: calc(100vw - var(--marginH) * 2);
    height: calc(100vh - min(var(--headerHmin), 500px) - var(--marginH) * 4);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--marginH);
}

.levelMenu {
    display: flex;
}


.level {
    width: 16vw;
    height: 25vw;
    min-width: 280px;
    min-height: 410px;
    border-radius: 25px;
    filter: drop-shadow(0px 0px 0px #4444);
    transition: filter 0.3s;
    cursor: pointer;
    position: relative;
    margin-bottom: var(--marginH);

    overflow: hidden;
    max-width: 45%;
}


.level:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.15));
}

.block:hover {
    filter: none;
    cursor: default;
}

.levelTitle {
    padding: 20px 20px 0 20px;
    height: 25%;
    /*margin-top: calc(var(--marginH));
    margin: calc(var(--marginH)) calc(var(--marginH) / 2);*/
}

#levelMain span {
    color: var(--grey);
    font-size: calc(21px + 0.6vw);
    line-height: calc(21px + 0.6vw);
    mix-blend-mode: multiply;
    margin-top: 5px;
}

.level .cover {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 75%;
    position: absolute;
    bottom: 0;
}

#alimentosSazonais {
    background-color: var(--blue);
}

#alimentosSazonais .cover {
    background-image: url(data/jogo/levels/alimentosSazonais.png);
}

#alimentosRegionais {
    background-color: var(--toastedYellow);
}

#alimentosRegionais .cover {
    background-image: url(data/jogo/levels/alimentosRegionais.png);
}

#rodadosAlimentos {
    background-color: var(--pink);
}

#rodadosAlimentos .cover {
    background-image: url(data/jogo/levels/rodaAlimentos.png);
}

#alimentacaoEquilibrada {
    background-color: var(--lighLightPink);
}

#alimentacaoEquilibrada .cover {
    background-image: url(data/jogo/levels/alimentacaoEquilibrada.png);
}

#levelMain a {
    text-decoration: none;
}

.block>.blockDiv {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.blockDiv img {
    width: 45px !important;
}

.nonBlock>.blockDiv {
    display: none !important;
}

.nonBlock .playLevel {
    position: absolute;
    bottom: -70px;
    right: -50px;
}

.block .playLevel {
    display: none;
}

.playLevel {
    display: none;
}

.playLevel img {
    width: 200px;
    height: auto;
}

.playLevel img:hover {
    filter: drop-shadow(0px 9px 40px rgba(0, 0, 0, 15));
}




/** Game **/
#canvas_parent {
    display: flex;
    justify-content: center;
    height: 85vh;
    width: 100%;
}

.gameBody {
    padding: 0 !important;
}

.headerGame {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--marginH);
    mix-blend-mode: multiply;
    height: min(var(--headerHmin), 500px);
}

.headerGameInside {
    position: absolute;
    right: 0;
    top: 0;
    margin: var(--marginH);
}

.closeIcon {
    mix-blend-mode: multiply;
    width: calc(7px + 1.5vw);
    margin-left: 1.5vw;
}

.homeIcon {
    mix-blend-mode: multiply;
    width: calc(7px + 1.5vw);
}

.menu img {
    mix-blend-mode: multiply;
    width: calc(7px + 1.5vw);
    height: fit-content;
}




/** Project **/
#projectInfo {
    background-color: var(--green);
}

#projectInfo .textInfo {
    background-color: var(--green);
}

#projectInfo #textInfoTitle {
    background-color: var(--green);
}

#explorarInfo {
    background-color: var(--blue);
}

#explorarInfo #textInfoTitle {
    background-color: var(--blue);
}

#explorarInfo .textInfo {
    background-color: var(--blue);
}

#escolasInfo {
    background-color: var(--lighLightPink);
}

#escolasInfo #textInfoTitle {
    background-color: var(--lighLightPink);
}

#escolasInfo .textInfo {
    background-color: var(--lighLightPink);
}

.textInfo {
    width: 45%;
    font-family: AuthenticSans130;
    font-size: calc(20px + 0.3vw);
    color: var(--grey);
}

.textInfo span {
    mix-blend-mode: multiply;
}

.textInfoBox {
    display: flex;
    justify-content: space-between;
}

.imageInfo {
    width: 45%;
    display: flex;
    justify-content: center;
    height: fit-content;

}

.imageInfo img {
    width: 75%;
    height: auto;
}

.info {
    margin-top: var(--marginH);
}

#textInfoTitle span {
    font-family: AuthenticSans130;
    font-size: calc(80px + 0.5vw);
    color: var(--grey);
    mix-blend-mode: multiply;
}


@media screen and (max-width:1500px) {

    /*index*/
    .indexImage {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*.indexImage .indexIllustration {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }*/

    .buttonIndex {
        width: 25vh;
    }

    .landingIntro {
        width: 70%;
    }




    /*general*/
    .menuItems {
        font-size: 7vh;
    }





    /*niveis*/
    .level {
        /*margin-bottom: var(--marginHMobile);*/
        margin: 0;
        gap: var(--marginHMobile);
        box-sizing: border-box;

        min-height: 100%;
        width: 20%;
        min-width: auto;
        /*height: 50%;*/
    }

    #levelMain {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: calc(100vw - var(--marginHMobile) * 2);
        height: calc(var(--vh, 1h) * 100 - var(--marginHMobile) * 3 - min(var(--headerHminMobile), 500px));
        margin: var(--marginHMobile);
        padding: 0;
    }

    .levelTitle {
        /*margin: calc(var(--marginHMobile) / 2);*/
    }

    #levelMain span {
        font-size: calc(20px + 0.6vw);
    }




    /*info pages*/
    .textInfo {
        width: 100%;
        margin-bottom: var(--marginHMobile);
    }

    .imageInfo {
        width: 100%;
    }

    .imageInfo img {
        width: 50%;
    }



}

@media screen and (max-width:900px) {

    /*icons*/
    .homeIcon {
        width: calc(20px + 1.5vw) !important;
        height: fit-content;
    }

    .closeIcon {
        width: calc(20px + 1.5vw) !important;
        margin-left: 5vw;
        height: fit-content;
    }

    #menuMobile {
        width: calc(27px + 1.5vw) !important;
        height: fit-content;
    }

    .menu img {
        width: calc(23px + 1.5vw) !important;
        height: fit-content;
    }




    /*index*/
    .indexImage {
        display: flex;
        align-items: center;
    }

    .menu li {
        font-size: calc(20pt + 0.5vw);
    }

    .landingIntro {
        width: 100%;
        margin-bottom: 10vh;
        font-size: calc(15px + 1.1vw);
    }

    .mainLanding {
        height: calc(var(--vh, 1h)*100 - min(var(--headerHminMobile), 500px) - var(--marginHMobile)* 4);
        margin: 0;
    }

    .illustrationsIndex {
        flex-direction: column;
    }

    .illustrationsIndex img {
        height: 50vw;
    }

    .illustrationsIndex span {
        margin-bottom: var(--marginHMobile);
        font-size: calc(17px + 0.5vw);
    }

    .iconsIntroTitle span {
        font-size: calc(35px + 1vw);
    }





    /*general*/

    main {
        padding: var(--marginHMobile);
    }

    .support span {
        font-size: calc(14px + 0.5vw);
    }

    footer {
        margin: var(--marginHMobile);
        padding: 0;
        width: calc(100vw - var(--marginHMobile)*2);
    }

    .footerDiv {
        flex-direction: column;
    }

    .footerImg {
        flex-wrap: wrap;
    }

    #menuDesktop {
        display: none;
    }

    #menuMobile {
        display: block;
    }

    .menuItems {
        font-size: 5.5vh;
        margin: 0 var(--marginHMobile);
        height: calc(var(--vh, 1h)*100 - min(var(--headerHminMobile), 500px) - var(--marginHMobile) * 2);
        width: calc(100vw - var(--marginHMobile)*2);
    }

    .menuItems li {
        margin-bottom: calc(var(--marginHMobile) / 2);
    }

    .level .cover {
        height: 100%;
        background-size: cover;
    }


    #alimentosSazonais .cover {
        background-image: url(data/jogo/levels/alimentosSazonais_3.png);
    }

    #alimentosRegionais .cover {
        background-image: url(data/jogo/levels/alimentosRegionais_3.png);
    }

    #rodadosAlimentos .cover {
        background-image: url(data/jogo/levels/rodaAlimentos_3.png);
    }

    #alimentacaoEquilibrada .cover {
        background-image: url(data/jogo/levels/alimentacaoEquilibrada_3.png);
    }

    #menuExplorePage {
        margin-bottom: 10vh;
    }

    header {
        height: min(var(--headerHminMobile), 200px);
        margin: var(--marginHMobile);
        margin-bottom: 0;
    }

    .headerGame {
        height: min(var(--headerHminMobile), 200px);
        margin: var(--marginHMobile);
        padding: 0;
    }

    .menuDiv {
        display: block;
        height: calc(var(--vh, 1h)*100);
        position: absolute;
        top: calc((var(--vh, 1h)*100) *-1);
        overflow-y: auto;
    }








    /*info Pages*/

    #textInfoTitle {
        font-size: 70px;
    }

    .textInfo {
        font-size: calc(14px + 0.3vw);
    }

    #textInfoTitle span {
        font-size: 50px;
        margin-bottom: var(--marginHMobile);
    }

    .info {
        margin-top: calc(var(--marginH) * 3);
    }

    .imageInfo img {
        width: 100%;
    }




    /*niveis*/
    .level {
        width: 48%;
        height: 45%;
        max-height: 370px;
        margin-bottom: var(--marginHMobile);
        gap: var(--marginHMobile);
        box-sizing: border-box;
        min-width: unset;
        min-height: unset;
    }

    #levelMain {

        width: calc(100vw - var(--marginHMobile) * 2);
        height: calc(var(--vh, 1h) * 100 - var(--marginHMobile) * 3 - min(var(--headerHminMobile), 500px));
        margin: var(--marginHMobile);
        padding: 0;
    }

    .levelTitle {
        /*margin: calc(var(--marginHMobile) / 2);*/
        display: none;
    }

    #levelMain span {
        font-size: calc(17px + 0.6vw);
    }


    .headerGameInside {
        margin: var(--marginHMobile);
    }

}